.box1 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
}

.box2 {
  position: relative;
  top: -15vh;
  left: 5vw;
  z-index: 5;
}

.box3 {
  position: relative;
  top: -30vh;
  left: 10vw;
  z-index: 4;
}

.box4 {
  position: relative;
  top: -45vh;
  left: 15vw;
  z-index: 3;
}

.box5 {
  position: relative;
  top: -60vh;
  left: 20vw;
  z-index: 2;
}

.box6 {
  position: relative;
  top: -75vh;
  left: 25vw;
  z-index: 1;
}